{% extends "common/base.html" %}

{% block page-header %}
{# section title #}
{{ title }}
<a href="{{ list_url }}"
   class="btn btn-xs addlink">
  <span class="fa fa-list"></span>
  List
</a>
{% endblock %}


{% block content %}

{% block existing-list %}{% endblock %}
{% load crispy_forms_tags %}
<form action="" method="post">
  {% csrf_token %}
  <div class="form-actions pull-right">
    <input class="btn btn-xs btn-primary default"
           type="submit"
           value="Create" />
  </div>
  {{ form|crispy }}
</form>

{% endblock %}
