{% load staticfiles %}

{# Bootstrap #}
<link rel="stylesheet"
      href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet"
      href="{% static 'bootstrap3/css/bootstrap-theme.yeti.min.css' %}">
<!-- <link rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/journal/bootstrap.min.css"> -->


<link rel="stylesheet"
      href="{% static 'fontawesome/css/font-awesome.css' %}">

{# lightbos http://ashleydw.github.io/lightbox/ #}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'bower_components/lightbox2/dist/css/lightbox.min.css' %}">

{# loading spinner: http://msurguy.github.io/ladda-bootstrap/ #}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'loading/ladda-themeless.min.css' %}">

{# DataTable #}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'datatable/css/jquery.dataTables.min.css' %}">

{# jqcloud #}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'jqcloud/jqcloud.css' %}">

{# toast https://github.com/CodeSeven/toastr #}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'toastr/toastr.min.css' %}">

<link rel="stylesheet"
      type="text/css"
      href="{% static 'css/chegg.css' %}">

{# app specific tweaks #}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'sass/my.css' %}">

{# bootstrap3-datepicker #}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">

{# Syntaxhighlighter #}
<link rel="stylesheet"
      href="{% static 'bower_components/SyntaxHighlighter/styles/shCoreDefault.css' %}">
<link rel="stylesheet"
      href="{% static 'bower_components/SyntaxHighlighter/styles/shThemeDefault.css' %}">

{# JQuery lib #}
<script type="text/javascript"
        src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
