{% extends "erp/common/base.html" %}

{% load crispy_forms_tags %}

{% block page-header %}
	{{ object.name }}
	<a href="{% url 'item_list' %}" class="btn btn-xs listlink">
		<i class="fa fa-plus"></i>
		List
	</a>
{% endblock %}


{% block content %}
{% for img in images %}
	<img src="{{ img }}" style="width:100px;height:100px;"> {{ img.name }}
{% endfor %}

<form id="fileupload" action="{% url 'item_attachment_add' object.id %}" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{ attachment_form|crispy }}

	<button type="submit" class="btn btn-primary start">
		<i class="glyphicon glyphicon-upload"></i>
		<span>Start upload</span>
	</button>	
</form>

<script type="text/javascript">
	j$(document).ready(function(){
	});
</script>
{% endblock %}

