{% extends "erp/common/base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% block page-header %}
<ol class="breadcrumb">
  <li><a href="{% url 'item_list' %}" 
		<i class="fa fa-list-ul"></i>
		ALL
	</a></li>
  <li><a href="#">{{ object.season }}</a></li>
  <li class="active"><a href="">{{ object.brand }}</a></li>
</ol>	
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-2">
		<ul class="list-inline">
		{% for img in object.attachments.all %}
			<li>
				<img src="{{ img.file.url }}" 
				data-type="attachment-thumbnail" class="img-responsive img-thumbnail"
				style="width:100px;height:100px;">
			</li>
		{% endfor %}
			<li>			
				<img src="{% static "images/upload.png" %}"
				title="Add more images"
				data-type="attachment-thumbnail" class="img-responsive img-thumbnail"
				style="width:100px;height:100px;opacity: 0.2;"
				data-toggle="modal" data-target="#upload-form">				
			</li>
		</ul>
	</div>
	<div class="col-md-6">
		{% with object.attachments.all|first as img %} 
			<a href="{{ img.file.url }}" data-toggle="lightbox" data-gallery="multiimages" data-parent data-title="{{img.name}}" data-footer="{{img.description}}">
				<img src="{{img.file.url}}" class="img-responsive center-block"
				style="margin-bottom:20px;">
			</a>			
			<p>{{ img.description }}</p>
		{% endwith %}
	</div>

	<div class="col-md-4">
		<h1 style="font-weight:bold;font-size:40px;">{{ object.name|upper }}</h1>
		<p><span class="item-label">CODE:</span>{{ object.code }}</p>
		<p class="item-style">{{object.currency}} {{ object.price|floatformat:0 }}</p>
		
		{# Available colors #}
		<span class="item-label">COLOR:</span><span class="item-value">{{ object.color }}</span>
		<ul class="list-inline">
		{% for style in same_styles %}
			<li><a href="{% url 'item_detail' style.id %}">
			<img src="{{ style.attachments.all.0.file.url }}" 
			title="{{ style.color }}"
			style="width:35px;height:35px;">
			</a></li>
		{% endfor %}
		</ul>

		{# Sizes #}
		<p><span class="item-label">SIZE SELECTION</span>: XL</p>
		<ul class="list-inline">
			<li><span class="item-size">XS</span></li>
			<li><span class="item-size">S</span></li>
			<li><span class="item-size">M</span></li>
			<li><span class="item-size">L</span></li>
			<li><span class="item-size">XL</span></li>
		</ul>

		{# QTY #}
		<p><span class="item-label">QTY:</span></p>
		<select style="width:86px;height:35px;background-color:white;color:#8c8c8c;padding-left:10px;">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
		</select>

		<p>
		<button class="btn btn-default btn-add-to-shopping-cart" type="submit">
			Add to cart
			<i class='fa fa-shopping-cart'></i>
		</button>
		</p>
	</div>
</div>	

<!-- Modal -->
<div id="upload-form" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    	{# Modal header #}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload images</h4>
      </div>

      {# Modal body #}
      <div class="modal-body">
		<form id="fileupload" action="{% url 'item_attachment_add' object.id %}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ attachment_form|crispy }}

			<button type="submit" class="btn btn-primary start">
				<i class="glyphicon glyphicon-upload"></i>
				<span>Start upload</span>
			</button>	
		</form>
      </div>

      {# Modal footer #}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



<script type="text/javascript">
j$(document).ready(function(){
	j$(document).delegate('*[data-toggle="lightbox"]', 'click', function(e) {
	    e.preventDefault();
	    j$(this).ekkoLightbox();
	}); 

	j$('[data-type="attachment-thumbnail"]').click(function(){
		var url = j$(this).attr('src');
		j$(this).closest('section').find('[data-toggle="lightbox"]').attr('href',url);
		j$(this).closest('section').find('[data-toggle="lightbox"]').find('img:first-child').attr('src',url);
	});			
});
</script>
{% endblock %}

