{% extends "erp/common/base.html" %}

{% block page-header %}
	{# section title #}
	{{ title }}
	<a href="{{ list_url }}" class="btn btn-xs addlink">
		<span class="glyphicon glyphicon-list"></span>
		List
	</a>
{% endblock %}


{% block content %}
<span class="warning">Warning: Deleting a fiscal year all transactions are removed and converted into relevant balances. This process is irreversible!</span>

	<table class="table">
		<thead>
			<th>Begin</th>
			<th>End</th>
			<th>Is active</th>
		</thead>

		<tbody>
			{% for obj in objects %}
			<tr><td>
				{{ obj.begin }}
			</td><td>
				{{ obj.end }}
			</td><td>
				{{ obj.is_active }}
			{% endfor %}
		</tbody>
	</table>
The marked fiscal year is the current fiscal year which cannot be deleted.

{% load crispy_forms_tags %}
<form action="" method="post">
	{% csrf_token %}
	<div class="form-actions pull-right">
		<input class="btn btn-xs btn-primary default" type="submit" value="Create" />
	</div>
	{% crispy form %}
	                           
</form>

{% endblock %}

