{% extends "erp/common/base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block page-header %}
<ol class="breadcrumb">
  <li><a href="{% url 'season_list' %}" 
		<i class="fa fa-list-ul"></i>
		ALL
	</a></li>
  <li class="active">{{ object }}</a></li>
</ol>	
{% endblock %}


{% block content %}
<div class="my-multicol-3">
{% for vendor,num_of_items in vendors %}
<section class="pin-card" style="" id="{{vendor.id}}">
	<div class="page-header">
		<h4>
			{{vendor.name}}
			<a class="pull-right" 
			title="View product detail" 
			data-toggle="tooltip" 
			href="{% url 'item_list_by_vendor' object.id vendor.id %}">
				<i class="fa fa-external-link"></i>
			</a>
		</h4>
	</div>

	<div class="" style="padding:0px 0;">
		{% if vendor.attachments.all|length %}
			{% with vendor.attachments.all.0 as item_img %}
			<a href="{{ item_img.file.url }}" 
			data-toggle="lightbox" 
			data-gallery="multiimages" 
			data-parent data-title="{{vendor.name}}" 
			data-footer="{{ vendor.description }}">
				<img src="{{item_img.file.url}}" class="img-responsive center-block"
				style="margin-bottom:20px;">
			</a>	
			{% if user.is_superuser %}
				<a href="{% url 'attachment_delete' item_img.id %}">
				<i class="fa fa-trash"></i></a>
			{% endif %}
			{% endwith %}

		{% else %}
			<img src="{% static "images/upload.png" %}"
			title="Add {{ vendor.name }} logo image"
			data-type="attachment-thumbnail" class="img-responsive img-thumbnail"
			style="width:100px;height:100px;opacity: 0.2;"
			data-toggle="modal" data-target="#upload-form-{{vendor.id}}">			
		{% endif %}			
	</div>	

	<div class="" style="border-top: 1px solid #dddddd;padding:10px 0;">
		<span class="text-right item-label pull-right">			
		<i class="fa fa-tag"></i>
		{{ num_of_items }}
		</span>
	</div>
</section>
{% endfor %}
</div>
{% endblock %}

{% block modal %}
{% for vendor,num_of_items in vendors %}
<div id="upload-form-{{vendor.id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    	{# Modal header #}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload {{vendor.name}} Logo</h4>
      </div>

      {# Modal body #}
      <div class="modal-body">
		<form id="fileupload" action="{% url 'crm_attachment_add' vendor.id %}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ attachment_form|crispy }}

			<button type="submit" class="btn btn-primary start">
				<i class="fa fa-upload"></i>
				<span>Start upload</span>
			</button>	
		</form>
      </div>

      {# Modal footer #}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>d
    </div>

  </div>
</div>
{% endfor %}
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
var j$ = jQuery.noConflict();
j$(document).ready(function(){
	j$(document).delegate('*[data-toggle="lightbox"]', 'click', function(e) {
	    e.preventDefault();
	    j$(this).ekkoLightbox();
	}); 

	j$('[data-type="attachment-thumbnail"]').click(function(){
		var url = j$(this).attr('src');
		j$(this).closest('section').find('[data-toggle="lightbox"]').attr('href',url);
		j$(this).closest('section').find('[data-toggle="lightbox"]').find('img:first-child').attr('src',url);
	});		
});
</script>
{% endblock %}
