{% extends "erp/common/base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block page-header %}
<ol class="breadcrumb">
  <li>
	ALL SEASONS
  </li>
</ol>	
{% endblock %}


{% block content %}
<div class="my-multicol-3">
{% for season in object_list %}
<section class="pin-card" style="" id="{{vendor.id}}">
	<div class="page-header">
		<h4>
			{{ season.name}}
			<a class="pull-right" 
			title="View season detail" 
			data-toggle="tooltip" 
			href="{% url 'season_detail' season.id %}">
				<i class="fa fa-external-link"></i>
			</a>
		</h4>
	</div>

	<div class="" style="padding:0px 0;">	
	</div>	

	<div class="" style="border-top: 1px solid #dddddd;padding:10px 0;">
		<span class="text-right item-label pull-right">			
		<i class="fa fa-tag"></i>
		some counter
		</span>
	</div>
</section>
{% endfor %}
</div>
{% endblock %}


{% block custom_js %}
<script type="text/javascript">
var j$ = jQuery.noConflict();
j$(document).ready(function(){
	j$(document).delegate('*[data-toggle="lightbox"]', 'click', function(e) {
	    e.preventDefault();
	    j$(this).ekkoLightbox();
	}); 

	j$('[data-type="attachment-thumbnail"]').click(function(){
		var url = j$(this).attr('src');
		j$(this).closest('section').find('[data-toggle="lightbox"]').attr('href',url);
		j$(this).closest('section').find('[data-toggle="lightbox"]').find('img:first-child').attr('src',url);
	});		
});
</script>
{% endblock %}
