{% extends "common/base.html" %}

{% block page-header %}
Servers (<a href="{% url 'catalog_server_add' %}">add</a>)
{% endblock %}


{% block content %}
{% include  "common/filter.html" %}
<table class="table table-striped table-hover" id="server-list">
  <thead>
    <th></th>
    <th>Name</th>
    <th>Size</th>
    <th>Orientation</th>
    <th>CPU Sockets</th>
    <th></th>
  </thead>
  <tbody>
    {% for obj in object_list %}
    <tr><td>
      <a href="{% url 'catalog_server_edit' obj.id %}">
        edit
      </a> |
      <a href="{% url 'catalog_server_detail' obj.id %}">
        detail
      </a>
    </td><td>{{ obj.name }}
    </td><td> {{ obj.size }}
    </td><td> {{ obj.orientation }}
    </td><td> {{ obj.cpu_sockets }}
    </td><td>
      <a href="{% url 'catalog_server_delete' obj.id %}">
        <i class="fa fa-close"></i>
      </a>
    </td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}


