{% extends "lxca/common/base.html" %}

{% block page-header %}
  Servers
{% endblock %}


{% block content %}
{% include  "lxca/common/filter.html" %}
<table class="table table-striped table-hover" id="server-list">
  <thead>
    <th>Name</th>
    <th>Serial</th>
    <th>UUID</th>
    <th>MTM</th>
    <th>OS</th>
    <th>Firmware</th>
    <th>Config</th>
  </thead>
  <tbody>
    {% for obj in object_list %}
    <tr><td> {{ obj.name }}
    </td><td> {{ obj.serial }}
    </td><td> {{ obj.uuid }}
    </td><td> {{ obj.mtm }}
    </td><td> {{ obj.operating_system }}
    </td><td> {{ obj.firmware_update }}
    </td><td> {{ obj.config_pattern }}
    </td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}


