{% extends 'intern/common/detail.html' %}

{% load staticfiles %}
{% block page-header %}
{{ object.applicant_name }}
	<a href="{% url 'application_edit' object.id %}" class="btn btn-xs addlink">
		<i class="fa fa-plus"></i>
		Edit
	</a>	

<!-- Single button -->

<div class="btn-group pull-right">
	<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	Update status <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" id="statuses">
		{% for val,term in object.status.STATUS_CHOICES %}
		  <li
		  status_id = {{val}}
		  class="ladda-button
		  	{% if object.status.status == val %}
		  	active
		  	{% endif %}

			data-style="expand-left" 
			data-size="l" 
			data-spinner-color="#333"  	
		  "><a href="">{{term}}</a></li>
		{% endfor %}  
  </ul>
</div>
{% endblock %}

{% block detail-school-header %}
<div class="school-landing">
	<div class="cover-photo"
	style="background:transparent url('{% static 'img/background-1683.jpg'%}') no-repeat; background-size:cover;"
	></div>
	<div class="school-name-bar">
		<div id="school-logo">
			<div id="eggshell-114" class="C-common-school-logo medium">
				<a class="logo" href="/schools/ucla">
				<div class="school-icon white">
					<div class="school-icon-img">
						<i class="fa fa-institution"></i>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div class="school-name">
			<h4><div class="txt-hdr-top" style="font-size: 160%;">{{object.application_id}}</div></h4>
			<div class="txt-hdr-dark" style="color:#555;">
			<em>{{object.applicant_name}}</em>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block detail-navbar %}
<ul class="nav nav-pills" data-type="nav-side">
	<li class="active">
    <a href="">
		Application details
	</a>
	</li>
</ul>
{% endblock %}

{% block detail-sidebar %}
<div class="jumbotron text-center" style="background:#fff;color:#a23;">
<h1 style="font-family: 'Abril Fatface', cursive;font-size:8.0em;text-decoration: underline;">
{{ object.time_to_start_in_days }}</h1>
<p>days left to START</p>
</div>

<h2 class="">Dates</h2>
<table class="table">
	<thead>
		<th></th>
		<th></th>
	</thead>
	<tbody>
		<tr><td>
			<strong>Start date</strong>
		</td><td>{{ object.start_date }}
		</td></tr>

		<tr><td>
			<strong>End date</strong>
		</td><td>{{ object.end_date }}
		</td></tr>

		<tr><td>
			<strong>Duration (days)</strong>
		</td><td>{{ object.duration_in_days }}
		</td></tr>

		<tr><td>
			<strong>Lead (days)</strong>
		</td><td>{{ object.lead_in_days }}
		</td></tr>	
	</tbody>
</table>

<h2 class="">Finance</h2>
<table class="table">
	<thead>
		<th></th>
		<th></th>
	</thead>
	<tbody>
		<tr><td>
			<strong>Budget</strong>
		</td><td>{{ object.budget }}
		</td></tr>

		<tr><td>
			<strong>To return remaining balance?</strong>
		</td><td>{{ object.sponsor.is_to_return_balance }}
		</td></tr>

		<tr><td>
			<strong>Is SAS paying student fees?</strong>
		</td><td>{{ object.sponsor.is_sas_paying_student_fees }}
		</td></tr>			
	</tbody>
</table>

<h2 class="page-header">Additional</h2>
<p>
{{ object.additional }}
</p>

<h2 class="page-header">Reminders</h2>
<p>
Current status contact: 
<a href="mailto:{{ object.status.contact.email }}">{{object.status.contact}} (click to email)</a>
</p>
<p><strong>Email:</strong> {{object.status.contact.email}}</p>

<div class="btn-group" role="group">
	<a type="button" class="btn btn-lg btn-default" href="{%url 'application_reminder' object.id%}">
		Preview reminder
	</a>
	<button type="button" class="btn btn-lg btn-info
	ladda-button
	data-style="expand-left" 
	data-size="l" 
	data-spinner-color="#333"  	
	" id="btn-send-reminder">
		Send reminder
	</button>
</div>
{% endblock %}

{% block detail-content %}
<h2 class="text-center" style="font-family: 'Abril Fatface', cursive;">
@{{object.status}}
</h2>

<h2 class="page-header">Timeline</h2>
<div id="visualization"></div>

<h2 class="page-header">Audits</h2>
<div class="pull-right">
	<i class="fa fa-sort-amount-desc"></i>
	Sort by creation date
</div>

<table class="table table-striped">
	<thead>
		<th>Changed on</th>
		<th>Status</th>
		<th>Contact</th>
		<th></th>
	</thead>
	<tbody>
	{% for audit in audits %}
		<tr><td>
			{{ audit.created|date:"M d, Y" }}
		</td><td>
			{{ audit.old_status }}
			&rarr; {{ audit.new_status }}
		</td><td>
			<a href="mailto:{{ audit.contact.email }}">{{audit.contact}}</a>
		</td><td>
			<a href="{% url 'status_audit_delete' audit.id %}">Delete</a>
		</td></tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
	// DOM element where the Timeline will be attached
	var container = document.getElementById('visualization');

	// Create a DataSet (allows two way data-binding)
	var items = new vis.DataSet([
		{content:'Application created',start:"{{object.created|date:'M d,Y'}}", title:"{{object.created|date:'M d,Y'}}"},
	{content: 'Start date', start: '{{ object.start_date }}', title:"{{ object.start_date }}"},
	{% for audit in audits %}
	{content: '{{audit.new_status}}<br/>({{audit.contact}})', start:"{{audit.created|date:'M d, Y'}}",title:"{{audit.created|date:'M d, Y'}}"},
	{% endfor %}
	//{content: 'End date', start: '{{ object.end_date }}',title:"{{ object.end_date }}"}
	]);

	// Configuration for the Timeline
	var options = {'moveable': false};

	// Create a Timeline
	var timeline = new vis.Timeline(container, items, options);


	j$(document).ready(function(){
		// register events
		j$('#statuses > li').click(function(){
			event.preventDefault();
			var l = Ladda.create(this);
	 		l.start();

			myBlockUI();

	        j$.post("{% url 'application_status_update' %}", // passed in from view
	            { 
	                'obj_id':{{ object.id }},
	                'status_id':j$(this).attr('status_id')
	            }, 
	            function(resp) { // success callback
	            	location.reload();
	            },'json'
	        ).always(function(){     
	        	l.stop(); 	
	        });			
		});

		j$('#btn-send-reminder').click(function(){
			var l = Ladda.create(this);
	 		l.start();			
	        j$.post("{% url 'application_reminder' object.id %}", // passed in from view
	            { 
	            }, 
	            function(resp) { // success callback
	            	toastr.success('Reminder sent!');
	            },'json'
	        ).always(function(){    
	        	l.stop(); 	         	
	        });	
		});
	});
</script>
{% endblock %}
