{% extends 'intern/common/detail.html' %}

{% load staticfiles %}
{% block page-header %}
{{ object.applicant_name }}
	<a href="{% url 'application_edit' object.id %}" class="btn btn-xs addlink">
		<i class="fa fa-plus"></i>
		Edit
	</a>
{% endblock %}

{% block detail-school-header %}
<div class="school-landing">
	<div class="cover-photo"
	style="background:transparent url(/static/img/background-1683.jpg) no-repeat; background-size:cover;"
	></div>
	<div class="school-name-bar">
		<div id="school-logo">
			<div id="eggshell-114" class="C-common-school-logo medium">
				<a class="logo" href="/schools/ucla">
				<div class="school-icon white">
					<div class="school-icon-img">
						<i class="fa fa-institution"></i>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div class="school-name">
			<h4><div class="txt-hdr-top" style="font-size: 160%;">{{object.application_id}}</div></h4>
			<div class="txt-hdr-dark" style="color:#555;">
			<em>{{object.applicant_name}}</em>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block detail-navbar %}
<ul class="nav nav-pills" data-type="nav-side">
	<li class="active">
    <a href="">
		Application details
	</a>
	</li>
</ul>
{% endblock %}

{% block detail-sidebar %}

<ul class="list-inline">
	<li class="jumbotron" style="background:#fff;color:#a23;">
		<h1 style="font-family: 'Abril Fatface', cursive;font-size:8.0em;text-decoration: underline;">
		{{ object.time_to_start_in_days }}</h1>
	</li>
	<li><strong>days left to START</strong></li>
</ul>

<h2 class="page-header">Status</h2>
<p>
	Click to update application status. The one highlighted is the current status.
</p>

<div class="btn-group" role="group" aria-label="Status group" id="statuses">
  <button type="button" 
  status_id = 1 
  class="btn ladda-button
  	{% if object.status.id == 1 %}
  	btn-primary
  	{% endif %}

	data-style="expand-left" 
	data-size="l" 
	data-spinner-color="#333"  	
  ">Initialized</button>
  <button type="button" 
  status_id = 2
  class="btn ladda-button
  	{% if object.status.id == 2 %}
  	btn-primary
  	{% endif %}
	
	data-style="expand-left" 
	data-size="l" 
	data-spinner-color="#333"  	
  ">Dept submitted</button>
  <button type="button" 
  status_id = 3
  class="btn ladda-button
  	{% if object.status.id == 3 %}
  	btn-primary
  	{% endif %} 

	data-style="expand-left" 
	data-size="l" 
	data-spinner-color="#333"  	
  ">College submitted</button>
</div>

<h2 class="">Dates</h2>
<table class="table">
	<thead>
		<th></th>
		<th></th>
	</thead>
	<tbody>
		<tr><td>
			<strong>Start date</strong>
		</td><td>{{ object.start_date }}
		</td></tr>

		<tr><td>
			<strong>End date</strong>
		</td><td>{{ object.end_date }}
		</td></tr>

		<tr><td>
			<strong>Duration (days)</strong>
		</td><td>{{ object.duration_in_days }}
		</td></tr>

		<tr><td>
			<strong>Lead (days)</strong>
		</td><td>{{ object.lead_in_days }}
		</td></tr>

	</tbody>
</table>
{% endblock %}

{% block detail-content %}

<h2 class="page-header">Timeline</h2>
<div id="visualization"></div>

<h2 class="page-header">Audits</h2>
<table class="table table-striped">
	<thead>
		<th>Changed on</th>
		<th>Status</th>
		<th>Contact</th>
	</thead>
	<tbody>
	{% for audit in audits %}
		<tr><td>
			{{ audit.created|date:"M d, Y" }}
		</td><td>
			{{ audit.old_status }}
			&rarr; {{ audit.new_status }}
		</td><td>
			<a href="mailto:{{ audit.contact.email }}">{{audit.contact}}</a>
		</td></tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
	// DOM element where the Timeline will be attached
	var container = document.getElementById('visualization');

	// Create a DataSet (allows two way data-binding)
	var items = new vis.DataSet([
		{content:'Application created',start:"{{object.created|date:'M d,Y'}}", title:"{{object.created|date:'M d,Y'}}"},
	{content: 'Start date', start: '{{ object.start_date }}', title:"{{ object.start_date }}"},
	{% for audit in audits %}
	{content: '{{audit.new_status}}<br/>({{audit.contact}})', start:"{{audit.created|date:'M d, Y'}}",title:"{{audit.created|date:'M d, Y'}}"},
	{% endfor %}
	//{content: 'End date', start: '{{ object.end_date }}',title:"{{ object.end_date }}"}
	]);

	// Configuration for the Timeline
	var options = {'moveable': false};

	// Create a Timeline
	var timeline = new vis.Timeline(container, items, options);


	j$(document).ready(function(){
		// register events
		j$('#statuses > button').click(function(){
			console.log('here');

			var l = Ladda.create(this);
	 		l.start();

	        j$.post("{% url 'application_status_update' %}", // passed in from view
	            { 
	                'obj_id':{{ object.id }},
	                'status_id':j$(this).attr('status_id')
	            }, 
	            function(resp) { // success callback
	            	window.location.reload();
	            },'json'
	        ).always(function(){     
	        	l.stop(); 	
	        });			
		});

	});
</script>
{% endblock %}
