{% extends "intern/common/base.html" %}

{% block page-header %}
	Application
	<a href="{% url 'application_add' %}" class="btn btn-xs addlink">
		<i class="fa fa-plus"></i>
		Add
	</a>
{% endblock %}


{% block content %}
	{% include "intern/common/filter.html" %}
	<table class="table table-striped table-hover">
	<thead>
		<th></th>
		<th>Status</th>
		<th>Days to Start</th>
		<th>Applicant name</th>
		<th>Start date</th>
		<th>End date</th>
		<th>Application ID</th>
		<th></th>
	</thead>
	<tbody>
		{% for obj in object_list %}
		<tr><td>
			<a href="{% url 'application_edit' obj.id %}">Edit</a> | 
			<a href="{% url 'application_detail' obj.id %}">Detail</a>
		</td><td>
			{{ obj.status }}
		</td><td>
			<span class="
				{% if obj.time_to_start_in_days > 7 and obj.time_to_start_in_days <= 14 %}
				btn btn-info
				{% endif %}

				{% if obj.time_to_start_in_days >= 0 and obj.time_to_start_in_days <= 7 %}
				btn btn-warning
				{% endif %}

				{% if obj.time_to_start_in_days < 0 %}
				btn btn-danger
				{% endif %}						
			">
			{{ obj.time_to_start_in_days}}
			</span>
		</td><td>
			{{ obj.applicant_name }}
		</td><td>
			{{ obj.start_date }}
		</td><td>
			{{ obj.end_date }}
		</td><td>
			{{ obj.application_id }}
		</td><td>
			<a href="{% url 'application_delete' obj.id %}">Delete</a>
		</td></tr>
    	{% endfor %}
	</tbody>
	</table>


<script type="text/javascript">
	j$(document).ready(function(){
	});
</script>
{% endblock %}

