{% extends 'intern/common/ink.html' %}
{% load staticfiles %}

{% block content %}
<h1 class="page-header">
Dear {{ object.status.contact }},
</h1>

<p>How are you?</p>

<p>
Application {{object.application_id }} for <strong>{{object.applicant_name}}</strong> has 
{{ object.time_to_start_in_days}} days left to its start date of {{object.start_date|date:"M d, Y"}}.
</p>

<p>
Could you please take a look and give me an update on its status? Thank you so much!
</p>

<p style="float:right;">
Best regards,<br/>
Nianyi
</p>
{% endblock %}

{% block panel %}
<dl>
	<dt>Application:</dt>
	<dd>{{ object.application_id }}</dd>
	<dt>Start date:</dt>
	<dd>{{ object.start_date }}</dd>
</dl>
{% endblock %}

{% block contact %}
<table class="six columns">
<tr>
  <td class="last right-text-pad">
    <h5>Contact Info:</h5>
    <p>Phone: 508.801.8337</p>
    <p>Email: <a href="mailto:nianyizh@hotmail.com">nianyizh@hotmail.com</a></p>
  </td>
  <td class="expander"></td>
</tr>
</table>
{% endblock %}
