{% extends "common/base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% block page-header %}
<ol class="breadcrumb">
  <li>
    <a href="{% url 'sa_solution_list' %}"
      <i class="fa fa-list-ul"></i>
      Architect Solutions
    </a>
  </li>
  <li class="active">
    {{ object.id }}
  </li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-2">
    <ul class="list-inline">
      {% for img in object.attachments.all %}
      <li>
	<img src="{{ img.file.url }}"
             data-type="attachment-thumbnail"
             class="img-responsive img-thumbnail"
             style="width:100px;height:100px;">

        {% if user.is_superuser %}
	<a href="{% url 'sa_solution_attachment_delete' img.id %}">
	  <i class="fa fa-trash"></i></a>
	{% endif %}
      </li>
      {% endfor %}

      {% if user.is_superuser %}
      <li>
	<img src="{% static "images/upload.png" %}"
             title="Add more images"
             data-type="attachment-thumbnail"
             class="img-responsive img-thumbnail"
             style="width:100px;height:100px;opacity: 0.2;"
             data-toggle="modal"
             data-target="#upload-form">
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="col-md-5">
    {% with object.attachments.all|first as img %}
    <a href="{{ img.file.url }}"
       data-lightbox="{{ object}}"
       data-title="{{ object }}"
       data-toggle="lightbox">
      <img src="{{img.file.url}}"
           class="img-responsive center-block"
           style="margin-bottom:20px;">
    </a>
    <p>{{ img.description }}</p>
    {% endwith %}
  </div><!-- end of image -->

  <div class="col-md-5">
    {% if user.is_superuser %}
    <a href="{% url 'sa_solution_edit' object.id %}">
      <i class="fa fa-pencil"></i>
      Edit
    </a>
    {% endif %}

    {# barcode #}
    <img class="text-right" id="barcode">
    <h1 style="font-weight:bold;font-size:40px;">
      {{ object.name|upper }}
    </h1>
    <p>
      <span class="item-label">
        Version:
      </span>
      <span class="item-value">
        {{ object.version }}
      </span>
    </p>
    <p>
      <span class="item-label">
        LXCA:
      </span>
      <span class="item-value">
        {{ object.lxca }}
      </span>
    </p>
    <p>
      <span class="item-label">
        Compliance policy:
      </span>
      <span class="item-value">
        {{ object.compliance }}
      </span>
    </p>

    <p>
      {{ object.description }}
    </p>
  </div>
</div>

{% if object.applications.all %}
<div class="row">
  <h4 class="page-header">
    <i class="fa fa-book"></i>
    Supported Applications
  </h4>
  <table class="table table-striped table-hover table-responsive">
    <thead>
      <th>Name</th>
      <th>Host</th>
      <th>Compatible servers</th>
    </thead>
    <tbody>
      {% for app in object.applications.all %}
      <tr><td>
        {% with app.attachments.all|first as img %}
        <a href="{{ img.file.url }}"
           data-lightbox="{{ app}}"
           data-title="{{ app }}"
           data-toggle="lightbox">
          <img src="{{img.file.url}}"
               data-type="attachment-thumbnail"
               class="img-responsive img-thumbnail"
               style="width:50px;height:50px;">
        </a>
        {% endwith %}
        <a href="{% url 'sa_application_detail' app.id %}">
          {{ app.name }}
        </a>
      </td><td>
        {{ app.host }}
      </td><td>
        <ul class="list-unstyled">
          {% for svr in app.compatible_servers.all %}
          <li>
            <a href="{% url 'catalog_server_detail' svr.id %}">
              {{ svr }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if object.racks.all %}
<div class="row">
  <h4 class="page-header">
    <i class="fa fa-book"></i>
    Supported Racks
  </h4>
  <table class="table table-striped table-hover table-responsive">
    <thead>
      <th>Name</th>
      <th>EIA Capacity</th>
      <th>Sidewall Compartment</th>
      <th>Is Primary?</th>
      <th>Expansion Rack</th>
    </thead>
    <tbody>
      {% for rack in object.racks.all %}
      <tr><td>
        {% with rack.catalog.attachments.all|first as img %}
        <a href="{{ img.file.url }}"
           data-lightbox="{{ rack }}"
           data-title="{{ rack }}"
           data-toggle="lightbox">
          <img src="{{img.file.url}}"
               data-type="attachment-thumbnail"
               class="img-responsive img-thumbnail"
               style="width:50px;height:50px;">
        </a>
        {% endwith %}
        <a href="{% url 'catalog_rack_detail' rack.id %}">
          {{ rack.catalog.name }}
        </a>
      </td><td>
        {{ rack.catalog.get_eia_capacity_display }}
      </td><td>
        {{ rack.catalog.sidewall_compartment }}
      </td><td>
        {{ rack.catalog.is_primary }}
      </td><td>
        {{ rack.catalog.expansion_rack }}
      </td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if object.powers.all %}
<div class="row">
  <h4 class="page-header">
    <i class="fa fa-book"></i>
    Supported PDUs
  </h4>
  <table class="table table-striped table-hover table-responsive">
    <thead>
      <th>Name</th>
      <th>Inputs</th>
      <th>Outputs</th>
      <th>C13</th>
      <th>C19</th>
      <th>Firmware Policy</th>
    </thead>
    <tbody>
      {% for pdu in object.powers.all %}
      <tr><td>
        {% with pdu.catalog.attachments.all|first as img %}
        <a href="{{ img.file.url }}"
           data-lightbox="{{ pdu }}"
           data-title="{{ pdu }}"
           data-toggle="lightbox">
          <img src="{{img.file.url}}"
               data-type="attachment-thumbnail"
               class="img-responsive img-thumbnail"
               style="width:50px;height:50px;">
        </a>
        {% endwith %}
        <a href="{% url 'catalog_pdu_detail' pdu.catalog.id %}">
          {{ pdu.catalog.name }}
        </a>
      </td><td>
        <ul class="list-unstyled">
          {% for i in pdu.catalog.inputs.all %}
          <li>{{ i }}</li>
          {% endfor %}
        </ul>
      </td><td>
        <ul class="list-unstyled">
          {% for o in pdu.catalog.outputs.all %}
          <li>{{ o }}</li>
          {% endfor %}
        </ul>
      </td><td>
        {{ pdu.catalog.c13 }}
      </td><td>
        {{ pdu.catalog.c19 }}
      </td><td>
        {{ pdu.firmware_policy }}
      </td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if object.switches.all %}
<div class="row">
  <h4 class="page-header">
    <i class="fa fa-book"></i>
    Supported Switches
  </h4>
  <table class="table table-striped table-hover table-responsive">
    <thead>
      <th>Name</th>
      <th>Size</th>
      <th>Orientation</th>
      <th>Speed</th>
      <th>Rear to Front</th>
      <th>Rules</th>
      <th>Firmware Policy</th>
    </thead>
    <tbody>
      {% for switch in object.switches.all %}
      <tr><td>
        {% with switch.catalog.attachments.all|first as img %}
        <a href="{{ img.file.url }}"
           data-lightbox="{{ switch }}"
           data-title="{{ switch }}"
           data-toggle="lightbox">
          <img src="{{img.file.url}}"
               data-type="attachment-thumbnail"
               class="img-responsive img-thumbnail"
               style="width:50px;height:50px;">
        </a>
        {% endwith %}
        <a href="{% url 'catalog_switch_detail' switch.catalog.id %}">
          {{ switch.catalog.name }}
        </a>
      </td><td>
        {{ switch.catalog.get_size_display }}
      </td><td>
        {{ switch.catalog.get_orientation_display }}
      </td><td>
        {{ switch.catalog.speed }} GB
      </td><td>
        {{ switch.catalog.rear_to_front }}
      </td><td>
        <ul class="list-unstyled">
          <li>Max: {{ switch.rule_for_count.max_count }}</li>
          <li>Min: {{ switch.rule_for_count.min_count }}</li>
        </ul>
      </td><td>
        {{ switch.firmware_policy }}
      </td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if object.servers.all %}
<div class="row">
  <h4 class="page-header">
    <i class="fa fa-book"></i>
    Supported Servers
  </h4>
  <table class="table table-striped table-hover table-responsive">
    <thead>
      <th>Name</th>
      <th>Size</th>
      <th>Orientation</th>
      <th>CPU Sockets</th>
      <th>Max 3.5" Disk Bay</th>
      <th>Max 2.5" Disk Bay</th>
      <th>Rules</th>
      <th>Firmware Policy</th>
    </thead>
    <tbody>
      {% for svr in object.servers.all %}
      <tr><td>
        {% with svr.catalog.attachments.all|first as img %}
        <a href="{{ img.file.url }}"
           data-lightbox="{{ svr }}"
           data-title="{{ svr }}"
           data-toggle="lightbox">
          <img src="{{img.file.url}}"
               data-type="attachment-thumbnail"
               class="img-responsive img-thumbnail"
               style="width:50px;height:50px;">
        </a>
        {% endwith %}
        <a href="{% url 'catalog_server_detail' svr.catalog.id %}">
          {{ svr.catalog.name }}
        </a>
      </td><td>
        {{ svr.catalog.get_size_display }}
      </td><td>
        {{ svr.catalog.get_orientation_display }}
      </td><td>
        {{ svr.catalog.cpu_sockets }}
      </td><td>
        {{ svr.catalog.max_35_disk }}
      </td><td>
        {{ svr.catalog.max_25_disk }}
      </td><td>
        <ul class="list-unstyled">
          <li>Max: {{ svr.rule_for_count.max_count }}</li>
          <li>Min: {{ svr.rule_for_count.min_count }}</li>
        </ul>
      </td><td>
        {{ svr.firmware_policy }}
      </td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if object.playbooks.all %}
<div class="row">
  <h4 class="page-header">
    <i class="fa fa-book"></i>
    Playbooks
  </h4>
  <table class="table table-striped table-hover table-responsive">
    <thead>
      <th>Name</th>
      <th>Path</th>
      <th>Tags</th>
      <th>Extra Vars (JSON)</th>
      <th>Comment</th>
    </thead>
    <tbody>
      {% for p in object.playbooks.all %}
      <tr><td>
        <a href="{% url 'sa_playbook_edit' p.id %}">
          {{ p.name }}
        </a>
      </td><td>{{ p.path }}
      </td><td>{{ p.tags }}
      </td><td>
        {% if p.extra_vars %}
        <pre class="brush:js;">
          {{ p.extra_vars }}
        </pre>
        {% endif %}
      </td><td>{{ p.comment }}
      </td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

 {# manifest #}
<h2>Manifests</h2>
<ul class="nav nav-tabs" role="tablist">
  <li>
    <a href="#yaml-manifest"
       role="tab"
       data-toggle="tab">
      <i class="fa fa-folder"></i>
      YAML
    </a>
  </li>
  <li>
    <a href="#json-manifest"
       role="tab"
       data-toggle="tab">
      <i class="fa fa-folder"></i>
      JSON
    </a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane" id="yaml-manifest">
    <pre class="brush:yaml;">
    {{ object.yaml_manifest }}
    </pre>
  </div>
  <div class="tab-pane" id="json-manifest">
    <pre class="brush:js;">
      {{ object.json_manifest }}
    </pre>
  </div>
</div>

{% endblock %}


{% block modal %}
{# Upload item image #}
<div id="upload-form"
     class="modal fade"
     role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      {# Modal header #}
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">
          Upload images
        </h4>
      </div>

      {# Modal body #}
      <div class="modal-body">
	<form id="fileupload"
              action="{% url 'sa_solution_attachment_add' object.id %}"
              method="POST"
              enctype="multipart/form-data">
	  {% csrf_token %}
	  {{ attachment_form|crispy }}

	  <button type="submit"
                  class="btn btn-primary start">
	    <i class="fa fa-upload"></i>
	    <span>Start upload</span>
	  </button>
	</form>
      </div>

      {# Modal footer #}
      <div class="modal-footer">
        <button type="button"
                class="btn btn-default"
                data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
 var j$ = jQuery.noConflict();
 j$(document).ready(function(){
   // barcode, https://github.com/lindell/JsBarcode
   j$("#barcode").JsBarcode(
     "{{ object.id }}",
     {
       format:"CODE39",
       displayValue:false,
       fontSize:16
     }
   );

   SyntaxHighlighter.highlight();
 });
</script>
{% endblock %}
