{% extends "intern/common/base.html" %}

{% block page-header %}
	{{ title }}
	<a href="{{ list_url }}" class="btn btn-xs addlink">
		<i class="fa fa-list"></i>
		List
	</a>
{% endblock %}


{% block content %}
{% load crispy_forms_tags %}
<form role="form" action="" method="post">
	{% csrf_token %}
	<div class="form-actions pull-right">
		<input class="btn btn-small btn-primary default" type="submit" value="Save" />
	</div>
	{%crispy form %}
	                           
</form>
{% endblock %}


