{% extends "erp/common/base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% block page-header %}
	销售订单: {{ object.code }}
{% endblock %}

{% block content %}
{# order header #}
<label>Customer</label>{{ object.customer }}
<label>Sales</label>{{ object.sales }}

{# order details #}
<ul class="nav nav-tabs" role="tablist">
	{% for brand,data in items.iteritems %}
	<li class="active">
	  <a href="#brand-{{brand.id}}" role="tab" data-toggle="tab">
	      <icon class="fa fa-home"></icon> {{ brand }}
	  </a>
	</li>
	{% endfor %}
</ul>

<!-- Tab panes -->
<div class="tab-content">
{% for brand,data in items.iteritems %}
	<div class="tab-pane fade active in" id="brand-{{brand.id}}">
		{% for item,detail in data.iteritems %}
		<div class="row" style="border-bottom:1px dashed #bcbcbc;">
			{# item image #}
			<div class="col-md-2">
				{% with item.attachments.all.0 as item_img %}
					<img src="{{item_img.file.url}}"
					data-type="attachment-thumbnail" class="img-responsive img-thumbnail"
					style="width:90%;">
				{% endwith %}
			</div>		
			<div class="col-md-5">
				<h4 style="font-weight:bold;font-size:20px;">{{ item.name|upper }}</h4>
				
				{# color #}
				<p>
					<span class="item-label">COLOR:
					</span><span class="item-value">{{ item.color }}</span>
				</p>
				
				<p class="item-price-original">
					{{object.customer.currency}}
					{{ item.price|floatformat:0 }}				
				</p>
				<p class="on_sale">
					{{object.customer.currency}}
					{{ detail.so_line_items.0.discount_price|floatformat:2 }}
				</p>
				<p>
					{{ detail.so_line_items.0.order.discount }} off
				</p>
			</div>

			{# fullfillment details #}
			<div class="col-md-3">
				<h4><span class="item-label">Order Qty:</span> {{ detail.qty }}</h4>			
				<dl class="dl-horizontal" style="margin-top:20px;">
				{% for so_line_item in detail.so_line_items %}
				<dt>{{so_line_item.item.size}}</dt>
				<dd><input type="number" value="{{so_line_item.qty}}" style="width:50px;"></dd>
				{% endfor %}
				</dl>

				<div style="border-top:1px solid #dcdcdc;" class="pull-right">
				<label class="label label-default">Total</label>
				<span class="item-value">
					{{object.customer.currency}}
					{{ detail.value|floatformat:2 }}
				</span>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endfor %}
</div>    

<script type="text/javascript">
j$(document).ready(function(){
	j$(document).delegate('*[data-toggle="lightbox"]', 'click', function(e) {
	    e.preventDefault();
	    j$(this).ekkoLightbox();
	}); 

	j$('[data-type="attachment-thumbnail"]').click(function(){
		var url = j$(this).attr('src');
		j$(this).closest('section').find('[data-toggle="lightbox"]').attr('href',url);
		j$(this).closest('section').find('[data-toggle="lightbox"]').find('img:first-child').attr('src',url);
	});			
});
</script>
{% endblock %}