{% extends "erp/common/base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% block page-header %}
	销售订单: {{ object.code }}
{% endblock %}

{% block content %}
{# order header #}
<h2>Summary</h2>
<div class="panel panel-default">
  	<div class="panel-body">
	<div class="row ">
		<div class="col-md-2"><label>Customer</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.customer }}</div>
		<div class="col-md-1"></div>
		<div class="col-md-2"><label>Sales</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.sales }}</div>
		<div class="col-md-1"></div>		
	</div><div class="row">
		<div class="col-md-2"><label>Created On</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.created_on }}</div>
		<div class="col-md-1"></div>		
		<div class="col-md-2"><label>Created By</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.created_by }}</div>
		<div class="col-md-1"></div>		
	</div><div class="row">
		<div class="col-md-2"><label>Is Sold At Cost</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.is_sold_at_cost }}</div>
		<div class="col-md-1"></div>		
		<div class="col-md-2"><label>Fullfiller</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.default_storage }}</div>
		<div class="col-md-1"></div>		
	</div><div class="row">
		<div class="col-md-2"><label>Discount</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.discount }}</div>
		<div class="col-md-1"></div>		
		<div class="col-md-2"><label>Status</label></div>
		<div class="col-md-3 my-sf-display-border">
		<label class="label label-info">{{ object.status }}</label></div>
		<div class="col-md-1"></div>		
	</div><div class="row">
		<div class="col-md-2"><label>Total Line Items</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.line_item_qty }}</div>
		<div class="col-md-1"></div>		
		<div class="col-md-2"><label>Total QTY</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.total_qty }}</div>		
		<div class="col-md-1"></div>		
	</div><div class="row">
		<div class="col-md-2"><label>STD Value</label></div>
		<div class="col-md-3 my-sf-display-border">
		{{object.customer.currency}}
		{{ object.total_std_value|floatformat:0 }}</div>
		<div class="col-md-1"></div>		
		<div class="col-md-2"><label>Value After Discount</label></div>
		<div class="col-md-3 my-sf-display-border">
		{{object.customer.currency}}
		{{ object.total_discount_value|floatformat:2 }}</div>
		<div class="col-md-1"></div>
	</div>
  </div>
</div>

<h2>Fullfillment</h2>
<div class="panel panel-default">
  	<div class="panel-body">
	<div class="row">
		<div class="col-md-2"><label>Last Fullfillment Date</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.last_fullfillment_date }}&nbsp;</div>
		<div class="col-md-1"></div>
		<div class="col-md-2"><label>Fullfillments</label></div>
		<div class="col-md-3 my-sf-display-border">
			&nbsp;
			{% for f in object.fullfillments %}
			{{ f }}
			{% endfor %}
		</div>
		<div class="col-md-1"></div>
	</div><div class="row">
		<div class="col-md-2"><label>Fullfilled QTY</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.fullfill_qty }}&nbsp;</div>
		<div class="col-md-1"></div>	
		<div class="col-md-2"><label>Fullfill Rate By QTY</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.fullfill_rate_by_qty }}&nbsp;</div>
		<div class="col-md-1"></div>				
	</div><div class="row">
		<div class="col-md-2"><label>Fullfilled Value</label></div>
		<div class="col-md-3 my-sf-display-border">
		{{object.customer.currency}}
		{{ object.fullfill_discount_value }}&nbsp;</div>
		<div class="col-md-1"></div>	
		<div class="col-md-2"><label>Fullfill Rate By Value</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.fullfill_rate_by_value }}&nbsp;</div>			
		<div class="col-md-1"></div>	
	</div>
	</div>
</div>

{# order details #}
<h2>Order Details</h2>
<ul class="nav nav-tabs" role="tablist">
	{% for brand,data in items.iteritems %}
	<li class="active">
	  <a href="#brand-{{brand.id}}" role="tab" data-toggle="tab">
	      <icon class="fa fa-home"></icon> {{ brand }}
	  </a>
	</li>
	{% endfor %}
</ul>

<!-- Tab panes -->
<div class="tab-content">
{% for brand,data in items.iteritems %}
	<div class="tab-pane fade active in" id="brand-{{brand.id}}">
		{% for item,detail in data.iteritems %}
		<div class="row" style="border-bottom:1px dashed #bcbcbc; padding:10px 0px;">
			{# item image #}
			<div class="col-md-2">
				{% with item.attachments.all.0 as item_img %}
					<img src="{{item_img.file.url}}"
					data-type="attachment-thumbnail" class="img-responsive img-thumbnail"
					style="width:90%;">
				{% endwith %}
			</div>		
			<div class="col-md-5">
				<h4 style="font-weight:bold;font-size:20px;">
				{{ item.name|upper }}
				</h4>
				<p>
				<a href="{% url 'item_detail' item.id %}">
					<i class="fa fa-hand-o-right"></i>
					{{ item.product_id }}
				</a>
				</p>				
				
				{# color #}
				<p>
					<span class="item-label">COLOR:
					</span><span class="item-value">{{ item.color }}</span>
				</p>
				
				<p class="item-price-original">
					{{object.customer.currency}}
					{{ item.price|floatformat:0 }}				
				</p>
				<p class="on_sale">
					{{object.customer.currency}}
					{{ detail.so_line_items.0.discount_price|floatformat:2 }}
				</p>
				<p>
					<span class="badge">You save: </span>{{object.customer.currency}}{{ detail.so_line_items.0.you_save|floatformat:0 }}
				</p>
			</div>

			{# fullfillment details #}
			<div class="col-md-3">
				<h4 class="my-section-header">
				<span class="item-label">Order Value:</span> 
				<span class="">
					{{object.customer.currency}}
					{{ detail.value|floatformat:2 }}
				</span>
				</h4>			

				{# order QTY details #}
				<dl class="dl-horizontal" style="margin-top:20px;">
					<dt>Size:</dt><dd></dd>

					{% for so_line_item in detail.so_line_items %}
					
					{# size #}
					<dt>
						{{so_line_item.item.size}}
					</dt>

					{# qty #}
					<dd>

						{# qty input box #}
						<input type="number" value="{{so_line_item.qty}}" style="width:50px;">

						{# remove line item #}
						<a href="{% url 'so_remove_item' so_line_item.id %}">
							<i class="fa fa-trash"></i>
						</a>
					</dd>
					{% endfor %}
				</dl>

				<div style="border-top:1px solid #dcdcdc;" class="">
					<dl class='dl-horizontal'>
						<dt>
							<label class="label label-default">Total QTY</label>
						</dt>
						<dd>
							<span class="item-value">
								{{ detail.qty }}
							</span>
						</dd>
					</dl>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endfor %}
</div>    

<script type="text/javascript">
j$(document).ready(function(){
	j$(document).delegate('*[data-toggle="lightbox"]', 'click', function(e) {
	    e.preventDefault();
	    j$(this).ekkoLightbox();
	}); 

	j$('[data-type="attachment-thumbnail"]').click(function(){
		var url = j$(this).attr('src');
		j$(this).closest('section').find('[data-toggle="lightbox"]').attr('href',url);
		j$(this).closest('section').find('[data-toggle="lightbox"]').find('img:first-child').attr('src',url);
	});			
});
</script>
{% endblock %}