{% extends "erp/common/base.html" %}

% load crispy_forms_tags %}
{% load static %}
{% block page-header %}
	Create a fullfillment for 销售订单: {{ object.code }}
{% endblock %}

{% block content %}

<div>
	<a href="{% url 'so_detail' object.id %}">
		<i class="fa fa-angle-left"></i>
		Back to view order
	</a>
</div>

{# order header #}
<div class="panel panel-default">
  	<div class="panel-body">
	<div class="row ">
		<div class="col-md-2"><label>Customer code</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.customer.code }}</div>
		<div class="col-md-1"></div>
		<div class="col-md-2"><label>Customer name</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.customer }}</div>
		<div class="col-md-1"></div>		
	</div><div class="row ">
		<div class="col-md-2"><label>Sales Order #</label></div>
		<div class="col-md-3 my-sf-display-border">
			{{ object.code }}
			<span class="pull-right" data-toggle="tooltip" title="View sales order details">
				<a href="{% url 'so_detail' object.id %}">
					<i class='fa fa-external-link'></i>
				</a>
			</span>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-2"><label>Fullfilled by</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.default_storage }}</div>
		<div class="col-md-1"></div>		
	</div>
	</div>
</div>

<div class="btn-group" role="group" aria-label="">
	<a  id="btn-clear-all" data-toggle="tooltip" title="Click to clear all inputs">
		<i class="fa fa-minus">&nbsp;Clear all</i>
	</a> | 
	<a id="btn-fill-all" data-toggle="tooltip" title="Click to fill all inputs to order qty">
		<i class="fa fa-plus">&nbsp;Fullfill all</i>
	</a>
</div>

<form action="{% url 'so_fullfill_add' object.id %}" method="POST">
{% csrf_token %}

{% for brand,line_items in items.iteritems %}
<h2>{{ brand }}</h2>
<table class="table table-striped table-hover" id="fullfill">
	<thead>
		<th>INVENTORY SKU</th>
		<th>PRODUCT ID</th>
		<th>STYLE</th>
		<th>COLOR</th>
		<th>PRICE</th>		
		<th>SIZE</th>
		<th>QTY BALANCE</th>
		<th>FULLFILLING QTY</th>
	</thead>

	<tbody>
		{% for line_item in line_items %}
			{% with line_item.item.item as item %}
			<tr><td>
				{{ line_item.item.code }}
			</td><td>
				{{ line_item.item.item.product_id }}
			</td><td>
				<a href="{% url 'item_detail' item.id %}">
				{{ item.name }}
				</a>
			</td><td>
				{{ item.color }}
			</td><td>
				{{ line_item.price }}			
			</td><td>
				{{ line_item.item.size }}
			</td><td>
				{{ line_item.qty_balance }}
			</td><td class="editt">
				<input type="number" value="0" name="line-item-{{line_item.id}}" id="{{line_item.id}}" min="0" max="{{ line_item.qty_balance }}" data-toggle="qty" style="width:100px;"/>			
				<div class="btn-group" role="group" aria-label="">
					<button type="button" class="btn btn-tiny btn-secondary" data-toggle="minus">
						<i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-tiny btn-primary" data-toggle="plus">
						<i class="fa fa-plus"></i>
					</button>
				</div>		
			</td></tr>
			{% endwith %}
		{% endfor %}
	</tbody>
</table>
{% endfor %}

<button class="btn btn-primary"  type="submit" id="create">
	<i class="fa fa-save"></i>
	<span>Create a fullfillment</span>
</button>
<button class="btn btn-default"  id="preview" style="display:none;">
	<i class="fa fa-save"></i>
	<span>Preview</span>
</button>
<button class="btn btn-secondary"  id="reset" style="display:none;">
	<i class="fa fa-save"></i>
	<span>Reset</span>
</button>     
</form>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
var j$ = jQuery.noConflict();
j$(document).ready(function(){
	// // common global widget initializations
	// var table = j$('table').dataTable({
	// 	stateSave: true, // must be true
	// 	paging: false,
	// 	info: false,
	// 	"pagingType": "simple",
	// 	"bFilter": false,
	// });

	j$('.edit').editable("{%url 'so_fullfill_edit' object.id %}",{
		submit    : 'Save',
		cancel    : 'Cancel',
		onblur    : "ignore",
		//name      : "sentText",
		callback : function(value, settings) {
			console.log(value);
			console.log(settings);

		    // var json = $.parseJSON(value);
		    // $("#qty").text(json.status);
		}		
	});

	// j$('#create').click( function() {
 //        var data = table.$('input').serialize();
 //        return true; // pass on the event
 //    });	   

	j$('[data-toggle="plus"]').click(function(){
		var current_val = parseInt(j$(this).parent().siblings('input').val());
		var max_val = parseInt(j$(this).parent().siblings('input').attr('max'));
		if ((current_val+1)<=max_val){
			j$(this).parent().siblings('input').val(current_val+1);
			j$(this).parents('tr').addClass('danger');
			j$('#preview').show();
		}
		if ((current_val+1)==max_val){
			j$(this).prop('disabled', true);;
			j$(this).siblings('[data-toggle="minus"]').prop('disabled', false);
		}
	});
	j$('[data-toggle="minus"]').click(function(){
		var current_val = parseInt(j$(this).parent().siblings('input').val());
		var min_val = parseInt(j$(this).parent().siblings('input').attr('min'));
		if ((current_val-1)>=min_val){
			j$(this).parent().siblings('input').val(current_val-1);
		}
		if ((current_val-1)==min_val){
			j$(this).prop('disabled', true);
			j$(this).siblings('[data-toggle="plus"]').prop('disabled', false);
			j$(this).parents('tr').removeClass('danger');
		}
	});

	j$("#btn-clear-all").click(function(){
		j$("input[data-toggle='qty']").val(0);
		j$("tr").removeClass('danger');
		j$('#preview').hide();
	});

	j$("#btn-fill-all").click(function(){
		j$.each(j$("input[data-toggle='qty']"),function(index,value){
			var max_val = parseInt(j$(value).attr('max'));
			j$(value).val(max_val);
			j$(value).parents('tr').addClass("danger");
		});
		j$('#preview').show();
	});

	// preview function
	j$('#preview').click(function(){
		j$.each(j$("input[data-toggle='qty']"),function(index,val){
			var current_val = parseInt(j$(val).val());
			if (current_val<1){
				j$(val).parents('tr').hide();
			}
		});
		j$(this).hide();
		j$('#reset').show();
		return false; // prevent form submission
	});

	// reset function
	j$('#reset').click(function(){
		j$.each(j$("input[data-toggle='qty']"),function(index,val){
			j$(val).parents('tr').show();
		});
		j$(this).hide();
		return false; // prevent form submission
	});
});
</script>
{% endblock %}