{% extends "erp/common/delete_form.html" %}
{% load staticfiles %}

{% block page-header %}
Remove Item From Sales Order
{% endblock %}

{% block record-detail %}
{% with object.item.item as item %}
<div class="row page-header">
	<div class="col-md-3">
		{% if item.attachments.all %}
			<img src="{{ item.attachments.all.0.file.url }}"
			data-type="attachment-thumbnail" class="img-responsive img-thumbnail"
			style="width:90%;">
		{% else %}
			<img src="{% static 'img/default_clothes.jpg' %}"
			data-type="attachment-thumbnail" class="img-responsive img-thumbnail"
			style="width:90%;">
		{% endif %}
	</div>

	<div class="col-md-9">
		<div class="row">
			<div class="col-md-2"><label>Sales Order</label></div>
			<div class="col-md-4 my-sf-display-border">
				<a href="{% url 'so_detail' object.order.id %}">{{ object.order }}</a>
			</div>
		</div><div class="row">
			<div class="col-md-2"><label>Season</label></div>
			<div class="col-md-4 my-sf-display-border">
				<a href="{% url 'season_detail' item.season.id %}">{{ item.season }}</a>
			</div>
		</div><div class="row">
			<div class="col-md-2"><label>Brand</label></div>
			<div class="col-md-4 my-sf-display-border">
				<a href="{% url 'item_list_by_vendor' item.season.id item.brand.id %}">{{ item.brand }}</a>
			</div>
		</div><div class="row">
			<div class="col-md-2"><label>Item</label></div>
			<div class="col-md-4 my-sf-display-border">
				<a href="{% url 'item_detail' item.id %}">{{ item }}</a>
			</div>
		</div><div class="row">
			<div class="col-md-2"><label>Size</label></div>
			<div class="col-md-4 my-sf-display-border">
				{{ object.item.size }}
			</div>
		</div><div class="row">
			<div class="col-md-2"><label>QTY</label></div>
			<div class="col-md-4 my-sf-display-border">
				{{ object.qty }}
			</div>
		</div><div class="row">
			<div class="col-md-2"><label>Discounted Value</label></div>
			<div class="col-md-4 my-sf-display-border">
				{{item.currency}}{{ object.discount_value|floatformat:2 }}
			</div>
		</div>
	</div>
</div>
{% endwith %}
{% endblock %}